@model IEnumerable<HolidayManagement.Models.Holiday>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HolidayID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HolidayType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalNumberOfDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaysLeft)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HolidayID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HolidayType.HolidayTypeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Staff.StaffID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalNumberOfDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaysLeft)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HolidayID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HolidayID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HolidayID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
